*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
   
 position: relative;
    width: 500px;
    background-color: azure;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: blur(1.5px); */
    z-index: 1;
}


.clock{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    opacity: 0.7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    gap: 5px;
}
#colon{
    animation: blink 2s infinite;
}
@keyframes blink{
    0%,50%{opacity: 1;}
    51%,100%{opacity: 0;}
}
p{
    position: absolute;
    bottom: 2px;
    display: flex;
    gap: 5px;
    font-size: 10px;
    margin-left:16px;
}