 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(187, 234, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    background-color: rgb(231, 228, 229);
    padding: 10px;
}
p{
     display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 8px 10px;
    outline: none;
    border: 2px solid rgb(172, 169, 162);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
button{
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(184, 169, 169);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.img-box{
    width: 200px;
    border-radius: 10px;
 max-height: 0px;
 overflow: hidden;
 transition: max-height 1s;
}
.img-box img{
 width: 100%;
 padding: 10px;
}
.img-box.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid rgb(201, 199, 199);
}



