*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(20deg,black,rgb(82, 72, 72));
}
.calculator{
    
    height: auto;
    /* border: 2px solid white; */
    padding: 10px;
    box-shadow: 2px 1px 5px rgb(227, 221, 221);
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      text-align: right;
}
button{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

 