*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.container{
margin: 15%;

}
h2{
    font-size: 40px;
}

span{
    font-size: 30px;
    color: green;
    text-decoration: underline;
    line-height: 2;
}
.display{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 18px 20px ;
    
}
.display input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
}
#click{
    padding: 5px 7px;
    font-weight: bold;
    background-color: green;
    color:white;
    border-radius: 5px;
}